@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-hidden;
  @apply h-full;
}

body {
  @apply h-full;

  @apply overflow-auto;

  @apply text-slate-900 dark:text-slate-100;
  @apply !bg-neutral-200 dark:!bg-neutral-900;
}

#app {
  @apply h-full;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
