@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-hidden;
  @apply h-full;
}

body {
  @apply h-full;

  @apply overflow-auto;

  @apply dark:text-slate-100 text-slate-900;
}

#app {
  @apply h-full;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
